@media (max-width: 765px) {
    .glav {
        height: 700px;
    }
    .glav-linia {
        display: none;
    }
.glav-linia2 {
    display: none;
}
.glav-linia3 {
    display: none;
}
.glav-vector {
    display: none;
}
}