@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);
}

.left {
  padding-left: calc(50% - 640px);
}

.glav {
  position: relative;
  background-image: url(img/fonplay.jpg);
  height: 800px;
  overflow: hidden;
}

.startwo {
  position: absolute;
  top: 69px;
  left: 63px;
}

.bigstar1 {
  position: absolute;
  overflow: hidden;
  left: 928px;
  top: -325px;
}

.glav-linia {
  position: absolute;
  left: 800px;
}

.glav-linia2 {
  position: absolute;
  left: 1075px;
  top: 255px;
}

.glav-linia3 {
  top: 380px;
  position: absolute;
  left: 1290px;
}

.glav-trapez {
  top: 460px;
  position: absolute;
  left: 1325px;
}

.glav-linia4 {
  top: 730px;
  position: absolute;
  left: 1440px;
}

.glav-vector {
  position: absolute;
  top: -260px;
  right: -380px;
  overflow: hidden;
}

.glav-star2 {
  position: absolute;
  top: 94px;
  left: 63px;
}

.glav-star3 {
  position: absolute;
  top: 69px;
  left: 156px;
}

.glav-star4 {
  position: absolute;
  top: 568px;
  left: 1013px;
}

.glav-star5 {
  position: absolute;
  left: 948px;
  top: 538px;
}

.glav-svg {
  height: 90px;
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 50px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgb(188, 236, 48);
}

.zvezda {
  text-decoration: none;
  color: rgb(32, 32, 39);
}

.glav-block {
  padding-top: 196px;
  width: 769px;
  height: 358px;
}

.glav-block__text {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
  padding-bottom: 24px;
}

.glav-block__par {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-bottom: 48px;
}

.glav-block__j {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}

.glav-knopka {
  border-radius: 60px;
  background-color: rgb(32, 32, 39);
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 34.01px;
  text-align: center;
  width: 247px;
  height: 66px;
}

/*1 секция закончилась*/
.play {
  overflow: hidden;
  background-image: url(img/fonobgame.png);
  height: 1470px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.cart-all {
  border-radius: 50px;
  width: 378px;
}

.cart-content {
  border-radius: 50px;
  background-color: white;
  width: 378px;
}

.cart-section {
  padding-top: 32px;
}

.cart-img__bigstar {
  position: absolute;
  left: 970px;
  top: 980px;
}

.cart-img__star {
  position: absolute;
  left: 40px;
  bottom: -1015px;
}

.cart-img__star2 {
  position: absolute;
  left: 25px;
  bottom: -935px;
}

.play-content__text {
  padding-top: 94px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

.play-content__par {
  padding-top: 24px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  padding-bottom: 72px;
}

.cart-img {
  position: relative;
  height: 314px;
}

.cart-play {
  width: 378px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  padding: 32px 32px 36px 32px;
}

.cart-content__coment {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  text-align: center;
  position: static;
  box-sizing: border-box;
  width: 108px;
  height: 36px;
  align-items: center;
  padding: 8px 16px 10px 16px;
}

.cart-content__coment2 {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  background-color: white;
  width: 314px;
  padding-top: 16px;
}

.cart-content__coment3 {
  padding-top: 32px;
  text-transform: uppercase;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.miniplay {
  padding-top: 46px;
  background-image: url(img/fonobgame.png);
  padding-bottom: 72px;
}

.miniplay-text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 765px) {
  .glav {
    height: 700px;
  }
  .glav-linia {
    display: none;
  }
  .glav-linia2 {
    display: none;
  }
  .glav-linia3 {
    display: none;
  }
  .glav-vector4 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */