body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.quiz {
    margin: 0 auto;
    width: 600px;
}

.quiz-qwestions,
.quiz-indicator,
.quiz-result {
    margin-bottom: 20px;
}

.quiz-questions-item,
.quiz-results-item {
    margin-bottom: 20px;

    &__question {
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__answers {
        margin: 0;
        padding: 0;
        list-style: none;
    }

}

.quiz-indicator {}

.quiz-result {
    display: none;
}

.btn-next {}

.btn-restart {
    display: none;
}

.questons--hidden,
.indicator--hidden,
.btnNext--hidden {
    display: none;
}

.results--visible,
.btnRestart--visible {
    display: block;
}

.answer--invalid {
    color: red;
}

.answer--valid {
    color: green;
}